@charset "utf-8";
/* CSS Document */


#slidebox{position:relative; 
		border:1px solid #ccc; 
		margin:40px auto;overflow:hidden;}

#slidebox, #slidebox ul {width:300px;height:300px;}

#slidebox, #slidebox ul li{width:300px;height:300px;}

#slidebox ul li{position:relative; 
				left:0; 
				float:left;list-style: none; 
				padding:15px 28px;  
				font-family:Verdana, Geneva, sans-serif; 
				font-size:13px;}

#slidebox .next, #slidebox .previous{position:absolute; 
									z-index:2; 
									display:block; 
									width:21px; 
									height:21px;top:139px;
									color:#fff}

#slidebox .next{right:0; 
				margin-right:10px; 
				background:url(../js/slidebox_next.png) no-repeat left top;}

#slidebox .next:hover{background:url(../js/slidebox_next_hover.png) no-repeat left top;}

#slidebox .previous{margin-left:10px; 
					background:url(../js/slidebox_previous.png) no-repeat left top;}

#slidebox .previous:hover{background:url(js/slidebox_previous_hover.png) no-repeat left top;}

#slidebox .thumbs{position:absolute; 
					z-index:2; 
					bottom:10px; 
					right:10px;}

#slidebox .thumbs a{display:block; 
					margin-left:5px; 
					float:left; 
					font-family:Verdana, Geneva, sans-serif; 
					font-size:9px; 
					text-decoration:none; 
					padding:2px 4px; 
					background:url(../js/slidebox_thumb.png); 
					color:#fff;}

#slidebox .thumbs a:hover{background:#fff; color:#000;}

#slidebox .thumbs .thumbActive{background:#fff; 
								color:#000; 
								display:block; 
								margin-left:5px; 
								float:left; 
								font-family:Verdana, Geneva, sans-serif; 
								font-size:9px; 
								text-decoration:none; 
								padding:2px 4px;}